* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    overflow: overlay;
}

ul {
    list-style-type: none;
}

/* ::-webkit-scrollbar {
    width: 0 !important
} */

.top {
    width: 100%;
    height: 60px;
}

.top .center {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.top .center div {
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid white;
}

.top .center div:hover {
    border: 1px solid red;
}



.slideshow {
    width: 100vw;
    overflow: hidden;
}

.slideshow .center {
    /* width: 100%; */
    width: 6000px;
    height: 400px;
    animation: slideshowMove 10s infinite linear;
}



.slideshow-center-box1 {
    background: url("../images/slider_img1.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-center-box1 .center-box01-center {
    width: 400px;
    text-align: center;
}

.slideshow-center-box1 .center-box01-center P {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.slideshow-center-box1 .center-box01-center div {
    width: 150px;
    height: 40px;
    border: 2px solid red;
    font-size: 20px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.slideshow-center-box1 .center-box01-center div:hover {
    background-color: red;
    color: white;
}

.slideshow-center-box2 {
    background: url("../images/slider_img2.jpg") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-center-box2 .center-box01-center {
    width: 400px;
    text-align: center;
}

.slideshow-center-box2 .center-box01-center h1 {
    color: white;
}

.slideshow-center-box2 .center-box01-center P {
    color: white;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.slideshow-center-box2 .center-box01-center div {
    width: 150px;
    height: 40px;
    border: 2px solid red;
    font-size: 20px;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.slideshow-center-box2 .center-box01-center div:hover {
    background-color: red;
    color: white;
}


.slideshow-center-box2,
.slideshow-center-box1 {
    float: left;
    width: 100vw;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}



/* 轮播图动画 */
@keyframes slideshowMove {

    /*0%-20%是播放下一个图片，0%-10%是图片暂停的时间*/
    0%,
    30% {
        margin-left: 0px;
    }

    50%,
    80% {
        margin-left: -100vw;
    }

    100% {
        margin-left: -200vw;
    }
}












.Men-Women,
.current-deal,
.popular-products,
.new-articles {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.mens-top {
    /* width: 80%; */
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.men-title p {
    font-size: 14px;
    color: #8f8f8f;
}

.line {
    width: auto;
    height: 2px;
    flex: 1;
    background-color: #c9c9c9;
    margin-left: 20px;
}

.mens-middle {
    padding-top: 40px;
    box-sizing: border-box;
    height: 900px;
}

.mens-middle .top .box1 .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mens-middle .top .box1 .left .left-left {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.mens-middle .top .box1 .left .left-left .shop {
    width: 300px;
    position: relative;
}

.mens-middle .top .box1 .left .left-left .shop .title h4 {
    font-size: 1.4rem;
}

.mens-middle .top .box1 .left .left-left .shop .title p {
    font-size: 1.2rem;
}

.mens-middle .top .box1 .left .left-left .shop .content {
    position: absolute;
    width: 100%;
    height: 340px;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0s;
    cursor: pointer;
}

.mens-middle .top .box1 .left .left-left .shop .content:hover {
    opacity: 1;
    transition: all 1s;
}

.mens-middle .top .box1 .left .left-left .shop .content .title {
    width: 100%;
    height: 80px;
}

.mens-middle .top .box1 .left .left-left .shop .content .title p {
    color: white;
}

.mens-middle .top .box1 .left .left-left .shop .img-box {
    height: 340px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mens-middle .top .box1 .left .left-left .shop .img-box img {
    width: 80%;
}

.mens-middle .top .box1 .left .left-left .shop .title {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mens-middle .top .box1 .left .left-right {
    position: relative;
}

.mens-middle .top .box1 .left .left-right .img-box {
    width: 650px;
    height: 400px;
}

.mens-middle .top .box1 .left .left-right .content,
.mens-middle .top .box1 .left .left-right .content01 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.mens-middle .top .box1 .left .left-right .content .btn,
.mens-middle .top .box1 .left .left-right .content01 .btn {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0s;
}

.mens-middle .top .box1 .left .left-right .content .btn {
    color: #cecece;
    border: 1px solid #cecece;
}

.mens-middle .top .box1 .left .left-right .content01 .btn {
    color: black;
    border: 1px solid black;
}

.mens-middle .top .box1 .left .left-right .content .btn:hover {
    background-color: #cecece;
    color: black;
    transition: all 1s;
}

.mens-middle .top .box1 .left .left-right .content01 .btn:hover {
    color: #cecece;
    border: 1px solid black;
    background-color: black;
    transition: all 1s;
}

.mens-middle .top .box1 .left .left-right .img-box img {
    width: 100%;
    height: 100%;
}

.mens-bottom {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mens-bottom .box1,
.mens-bottom .box2,
.mens-bottom .box3,
.mens-bottom .box4 {
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    padding: 40px 20px;
    box-sizing: border-box;
}

.mens-bottom .box1:hover,
.mens-bottom .box2:hover,
.mens-bottom .box3:hover,
.mens-bottom .box4:hover {
    border: 1px solid red;
    color: red;
}

.mens-bottom .box1 .content,
.mens-bottom .box2 .content,
.mens-bottom .box3 .content,
.mens-bottom .box4 .content {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.mens-bottom .box1 i,
.mens-bottom .box2 i,
.mens-bottom .box3 i,
.mens-bottom .box4 i {
    font-size: 50px;
}

.mens-bottom .box1 p,
.mens-bottom .box2 p,
.mens-bottom .box3 p,
.mens-bottom .box4 p {
    width: 180px;
    margin-top: 10px;
}
















/* .current-deal {

} */

.current-deal .content {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.current-deal .content .left {
    width: 50%;
}

.current-deal .content .left .top {
    height: auto;
    /* background: skyblue; */
    margin-bottom: 50px;
}

.current-deal .content .left .top h3,
.current-deal .content .left .top p {
    margin-bottom: 15px;
}

.current-deal .content .left .top .line-through-span {
    color: #ccc;
}

.current-deal .content .left .top .btn {
    width: 120px;
    height: 40px;
    border: 2px solid red;
    box-sizing: border-box;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}

.current-deal .content .left .top .btn:hover {
    color: white;
    background-color: red;
}

.current-deal .content .bottom {
    width: 100%;
}

.current-deal .content .bottom .content {
    width: 100%;
    height: 160px;
    background-color: #ccc;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.current-deal .content .bottom .content .box01,
.current-deal .content .bottom .content .box02,
.current-deal .content .bottom .content .box03,
.current-deal .content .bottom .content .box04 {
    width: 24%;
    height: 95%;
    text-align: center;
}

.current-deal .content .bottom .content .box01 .box,
.current-deal .content .bottom .content .box02 .box,
.current-deal .content .bottom .content .box03 .box,
.current-deal .content .bottom .content .box04 .box {
    width: 100%;
    height: 80%;
    background-color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}






.popular-products {
    margin-top: 0;
}

.popular-products .content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-flow: row wrap;
}

.popular-products .content .box-all {
    width: 280px;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}

.popular-products .content .box-all .img-box {
    width: 100%;
    height: 290px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-products .content .box-all .img-box img {
    width: 70%;
}

.popular-products .content .box-all .title {
    margin-top: 10px;
}

.popular-products .content .box-all .tag {
    position: absolute;
    top: 0;
    width: 60px;
    height: 30px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}

.popular-products .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popular-products .bottom .left {
    width: 20%;
}

.popular-products .bottom .left .img-box {
    width: 100%;
}

.popular-products .bottom .left .img-box img {
    width: 100%;
}

.popular-products .bottom .right {
    width: 75%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-products .bottom .right input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.popular-products .bottom .right .btn {
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}










.new-articles {
    margin-bottom: 50px;
}

.new-articles .content {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.new-articles .content .box-all {
    width: 30%;
    min-width: 400px;
    height: 750px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.new-articles .content .box-all .img-box {
    width: 100%;
    height: 330px;
    background-color: #d3e1fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-articles .content .box-all .img-box img {
    width: 60%;
}

.new-articles .content .box-all .title {
    margin-top: 20px;
}

.new-articles .content .box-all .title h3 {
    font-size: 1.4rem;
}

.new-articles .content .box-all .title p {
    margin-top: 20px;
    font-size: 1.2rem;
}

.new-articles .content .box-all .btn {
    width: 120px;
    height: 40px;
    border: 2px solid #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

.new-articles .content .box-all .btn:hover {
    transition: all 0.8s;
    background-color: #000;
    color: white;
}










.foot {
    width: 100%;
    height: 350px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot .content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.foot .content .box-all {
    width: 25%;
    min-width: 336px;
    height: 80%;
}

.foot .content .box01 p {
    width: 280px;
    margin: 20px 0;
}

.foot .content .box02 ul,
.foot .content .box03 ul {
    margin: 20px 0;
}

.foot .content .box02 li,
.foot .content .box03 li {
    width: 80%;
    height: 40px;
    /* background-color: aqua; */
    border-bottom: 1px solid #000;
    line-height: 40px;
}

.foot .content .box04 ul {
    margin: 20px 0;
}

.foot .content .box04 ul li i {
    font-size: 30px;
    color: #666666;
    margin-bottom: 5px;
}

.foot .content .box04 ul li p {
    color: #666666;
    margin-bottom: 15px;
}

.foot .content .box04 ul li h3 {
    margin-bottom: 10px;
}

.foot .hover-li:hover {
    color: red !important;
    cursor: pointer;
}



















.foot-info {
    width: 100%;
    height: 30px;
    background-color: #bbbbbb;
    text-align: center;
    line-height: 30px;
}





















/* 全局  中尺寸显示 */
.ms-display {
    display: none;
}