@media screen and (max-width: 768px) {
    .top .center {
        width: 95%;
    }

    .slideshow-center-box2,
    .slideshow-center-box1 {
        height: 300px;
    }








    .Men-Women,
    .current-deal,
    .popular-products,
    .new-articles {
        width: 90%;
        margin: 0 auto;
        margin-top: 0px;
    }

    .Men-Women {
        margin-bottom: 50px;
    }

    .mens-middle {
        padding-top: 10px;
        box-sizing: border-box;
        height: 1750px;
    }

    .mens-middle .top .box1 .left {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    .mens-middle .top .box1 .left .left-right {
        margin-bottom: 20px;
    }

    .mens-middle .top .box1 .left .left-left .shop {
        width: 320px;
        margin-bottom: 10px;
    }

    .mens-bottom {
        flex-direction: column;
    }

    .mens-bottom .box1,
    .mens-bottom .box2,
    .mens-bottom .box3,
    .mens-bottom .box4 {
        width: 95%;
        height: 100px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        display: flex;
        margin: 10px auto;
    }

    .mens-bottom .box1 .content,
    .mens-bottom .box2 .content,
    .mens-bottom .box3 .content,
    .mens-bottom .box4 .content {
        width: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mens-bottom .box1 i,
    .mens-bottom .box2 i,
    .mens-bottom .box3 i,
    .mens-bottom .box4 i {
        font-size: 30px;
    }

    .mens-bottom .box1 p,
    .mens-bottom .box2 p,
    .mens-bottom .box3 p,
    .mens-bottom .box4 p {
        width: 500px;
    }

    .mens-middle .top .box1 .left .left-right .content,
    .mens-middle .top .box1 .left .left-right .content01 {
        margin-top: 20px;
    }






    .current-deal .content {
        flex-direction: column;
    }

    .current-deal .content .left {
        width: 100%;
        ;
    }

    .current-deal .content .left .top .line-through-span {
        color: black;
    }

    .current-deal .content .left .top .btn {
        margin-top: 20px;
    }

    .current-deal .content .bottom .content {
        flex-direction: unset;
        background-color: #eeeeee;
    }

    .current-deal .content .bottom .content .box01,
    .current-deal .content .bottom .content .box02,
    .current-deal .content .bottom .content .box03,
    .current-deal .content .bottom .content .box04 {
        width: 22%;
        height: 85%;
        text-align: center;
    }

    .current-deal .content .right {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }







    .new-articles .content .box-all {
        width: 100%;
        height: 620px;
    }

    .new-articles .content .box-all .img-box img {
        width: 40%;
    }

    .new-articles .content .box-all .title h3 {
        font-size: 1.2rem;
    }

    .new-articles .content .box-all .title p {
        margin-top: 20px;
        font-size: 1rem;
    }













    .foot {
        width: 100%;
        height: 600px;
        background-color: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot .content {
        width: 100%;
    }

    .foot .box01 {
        width: 100% !important;
    }

    .foot .content .box01 p {
        width: 90%;
        margin: 20px 0;
        padding-left: 10px;
        box-sizing: border-box;
    }

    .foot .content .box01 h3{
        padding-left: 10px;
        box-sizing: border-box;
    }

    .foot .box02 {
        width: 20% !important;
        min-width: 0px !important;
    }

    .foot .box03 {
        width: 30% !important;
        min-width: 0px !important;
    }

    .foot .box04 {
        width: 30% !important;
        min-width: 0px !important;
        margin-top: 40px;
    }


















    /* 全局  中尺寸显示 */
    .ms-display {
        display: inline;
    }
}