@media screen and (max-width: 600px) {
    .top {
        height: auto;
        padding: 10px 0;
        box-sizing: border-box;
    }

    .top .center {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .slideshow .center {
        height: 300px;
    }

    .slideshow-center-box2,
    .slideshow-center-box1 {
        height: 200px;
    }

    .slideshow-center-box1 .center-box01-center P,
    .slideshow-center-box2 .center-box01-center P {
        display: none;
    }

    .slideshow-center-box1 .center-box01-center,
    .slideshow-center-box2 .center-box01-center {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
        box-sizing: border-box;
    }







    .mens-middle {
        padding-top: 10px;
        box-sizing: border-box;
        height: 2820px;
    }

    .Men-Women,
    .current-deal,
    .popular-products,
    .new-articles {
        width: 100%;
        margin: 0;
    }

    .Men-Women .mens-top {
        width: 100%;
        height: 50px;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mens-middle .top .box1 .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Men-Women .men-title h2,
    .current-deal h2,
    .popular-products .men-title h2,
    .new-articles .men-title h2 {
        font-size: 2rem;
    }

    .Men-Women .men-title p {
        font-size: 1.2rem;
        color: #8f8f8f;
        text-align: center;
    }

    .line {
        display: none;
    }

    .mens-middle .top .box1 .left .left-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mens-middle .top .box1 .left .left-left .shop {
        width: 100%;
        position: relative;
    }

    .mens-middle .top .box1 .left .left-left .shop .img-box {
        background-color: aqua;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mens-middle .top .box1 .left .left-left .shop .img-box img {
        width: 40%;
    }

    .mens-middle .top .box1 .left .left-right .img-box {
        width: 100%;
        height: auto;
    }

    .mens-middle .top .box1 .left .left-left .shop .title {
        margin-bottom: 10px;
    }

    .mens-middle .top .box1 .left .left-right .content .btn,
    .mens-middle .top .box1 .left .left-right .content01 .btn {
        margin-top: 10px;
        width: 300px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0s;
        font-size: 1.6rem;

    }

    .mens-middle .top .box1 .left .left-right .content h3 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #ccc !important;
    }

    .mens-middle .top .box1 .left .left-right .content01 h3 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: black !important;
    }

    .left-right02 {
        margin: 180px 0 !important;
    }


    .mens-bottom .box1,
    .mens-bottom .box2,
    .mens-bottom .box3,
    .mens-bottom .box4 {
        width: 90%;
        min-height: 180px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        display: flex;
        margin: 20px auto;
        padding: 20px 20px;
    }

    .mens-bottom .box1 .content div,
    .mens-bottom .box2 .content div,
    .mens-bottom .box3 .content div,
    .mens-bottom .box4 .content div {
        width: 300px;
        display: block;
        margin-left: 80px;
    }

    .mens-bottom .box1 .content,
    .mens-bottom .box2 .content,
    .mens-bottom .box3 .content,
    .mens-bottom .box4 .content {
        width: 600px;
        height: auto;
        display: block;
        position: relative;
    }

    .mens-bottom .box1 i,
    .mens-bottom .box2 i,
    .mens-bottom .box3 i,
    .mens-bottom .box4 i {
        font-size: 30px;
        position: absolute;
        top: 0px;
    }

    .mens-bottom .box1 p,
    .mens-bottom .box2 p,
    .mens-bottom .box3 p,
    .mens-bottom .box4 p {
        width: 200px !important;
    }








    .current-deal {
        width: 100%;
    }

    .current-deal .mens-top {
        margin: 60px 0;
        justify-content: center;
    }

    .current-deal .content {
        width: 90% !important;
        margin: 0 auto;
        padding-top: 0;
    }






    .popular-products {
        width: 90%;
        margin: 50px auto;
    }

    .popular-products .mens-top .men-title {
        margin: 0 auto;
    }

    .popular-products .content .box-all {
        width: 100%;
        text-align: center;
        position: relative;
        margin-bottom: 40px;
    }

    .popular-products .content .box-all .img-box {
        height: 400px;
        background-color: #eeeeee;
    }

    .popular-products .content .box-all .img-box img {
        width: 50%;
    }

    .popular-products .content .box-all .title h3 {
        font-size: 2rem;
    }

    .popular-products .content .box-all .title p {
        font-size: 1.6rem;
        color: #646464;
    }

    .popular-products .content .box-all .tag {
        width: 100px;
        height: 50px;
        font-size: 1.8rem;
        line-height: 50px;
    }

    .popular-products .bottom {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .popular-products .bottom .left {
        width: 100%;
    }

    .popular-products .bottom .right {
        width: 100%;
        height: 200px;
        display: block;
    }

    .popular-products .bottom .right h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .popular-products .bottom .right input {
        width: 100%;
        height: 50px;
        font-size: 1.5rem;
        box-sizing: border-box;
        margin: 20px 0;
    }

    .popular-products .bottom .right .btn {
        width: 100%;
        height: 50px;
        background-color: #333333;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    }







    .new-articles {
        margin-top: 100px;
    }

    .new-articles .mens-top {
        width: 100% !important;
        justify-content: center;
    }

    .new-articles .content .box-all {
        width: 100%;
        height: 720px;
    }

    .new-articles .content .box-all .title h3 {
        font-size: 1.8rem;
    }

    .new-articles .content .box-all .title p {
        margin-top: 20px;
        font-size: 1.2rem;
    }
















    .foot {
        width: 100%;
        height: auto;
        background-color: #eeeeee;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foot .content {
        width: 100%;
        text-align: center;
    }

    .foot .box01 {
        width: 100% !important;
    }

    .foot .content .box01 p {
        width: 100%;
        margin: 20px 0;
        padding-left: 0px;
    }

    .foot .content .box01 h3 {
        padding-left: 0px;
    }

    .foot .box02 {
        width: 100% !important;
        min-width: 0px !important;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .foot .box03 {
        width: 100% !important;
        min-width: 0px !important;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .foot li {
        width: 100% !important;
    }

    .foot .box04 {
        width: 100% !important;
        min-width: 0px !important;
        margin-top: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }












    .mens-top .men-title p{
        font-size: 22px;
    }

}